<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pquery"
    android:versionCode="24"
    android:versionName="3.4" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- hardwareAccelerated="false" is to stop an annoying white flash when WebView loads on >=3 -->
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.Sherlock">

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="PocketQuery"
            android:label="Pocket Query Creator" >
            <!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
            
            <!--
            Make visible to google maps ?
            <intent-filter>
                <action android:name="android.intent.action.SEND" >
                </action>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="PreferencesFromXml"
            android:label="@string/settings" >
        </activity>
        <activity
            android:name="MapsActivity"
            android:label="Long press to select point then press back" >
        </activity>
        <activity
            android:name="Help"
            android:label="@string/help">
        </activity>
        <activity
            android:name="About"
            android:label="@string/about" >
        </activity>
        <activity
            android:name=".CreateFiltersActivity"
            android:label="Creation Options" >
        </activity>
		<activity
            android:name=".CreateActivity"
            android:label="Creation Options" >
        </activity>
        <activity
            android:name=".CreateLocationActivity"
            android:label="Location" >
        </activity>
          <activity
            android:name=".CreateNameActivity"
            android:label="Name" >
        </activity>
         
        <activity
            android:name="net.bgreco.DirectoryPicker"
            android:label="@string/directory_picker_title">
             <intent-filter>  
                <action android:name="your.action.string"/>  
                <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter> 
        </activity>
        
        
        
        <!-- 
                <activity android:label="@string/app_name" android:name="com.lamerman.FileDialog">
            <intent-filter>  
                <action android:name="your.action.string"/>  
                <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter> 
            </activity>
        -->
        
        
         <activity android:label="Pocket Query Creator" android:name=".Main" android:theme="@style/Theme.Sherlock"
             android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


      
        
        
        <service
            android:name="org.pquery.service.PQService"
            android:label="PQService" >
        </service>

        
    </application>

</manifest>